body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  background-size: 100%;
}


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 20px;
  border: 3px solid #414141;
}

.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  text-align: center;
  margin: 20px;
  font-size: 2vw;
  color: #f1f1f1;
}

.interview{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rectangle:hover{
  transform: scale(1.04);
  cursor: pointer;
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.contact-item {
  height: 60px;
  width: 60px;
  margin: 2rem;
  padding: 1rem;
  background-color: #20232b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact_body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-around;
  align-content: space-between;
}

.contact-item img :hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contact-item img{
  width: 50px;
  height: 50px;
  color: #41A3FF;
}

.footer{
  margin-top: 5%;
}

.itv_body{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.name_itv{
  font-size: 100%;
  color: #f1f1f1;
  font-weight: 100;
  text-align: center;
  margin-top: 50%;
}


@media(orientation: landscape) {
  .title{
    text-align: center;
    margin: 20px;
    font-size: 2vw;
    color: #f1f1f1;
  }
  .home img {
    display: flex;
    width: 40%;
    height: 90%;
    min-width: 130px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 10%;
  }

  .presentation p{
    margin-top: 2%;
    font-size: 120%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    margin-right: 30%;
    margin-left: auto;
  }

  .presentation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
  }

  .text_presentation{
    width: 60%;
  }

  .logo{
    width: 40%;
  }

  .itv_title{
    margin-right: 80%;
    margin-left: 5%;
    margin-top: 4%;
    height: 5%;
  }

  .itv_title h2 {
    font-size: 2vw;
  }
  .rectangle{
    width:350px;
    height: 194.5px;
    background: #202733;
    margin-top: 5%;
    margin-right: 7%;
    top: 70%;
    border-radius: 5%;
  }

  .contact_title{
    text-align: center;
  }

  .contact_title h2 {
    font-size: 1.5vw;
  }

}

@media(orientation: portrait) {
  .title{
    text-align: center;
    margin: 20px;
    font-size: 4vw;
    color: #f1f1f1;
  }
  .home img {
    display: flex;
    width: 40%;
    min-width: 30px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .presentation p{
    margin-top: 2%;
    font-size: 100%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
  }

  .presentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
  }
  .itv_title{
    text-align: left;
    margin-right: 80%;
    margin-left: 5%;
    margin-top: 10%;
    height: 5%;
  }
  .rectangle{
    width:262.5px;
    height: 145.875px;
    background: #202733;
    margin-top: 15%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 15%;
    top: 60%;
    border-radius: 5%;
    flex-direction: column;
  }
}
