body {
  font-family: Calibri, serif;
  font-weight: 400;
  color: #fff;
  background-size: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 28/var(--tw-bg-opacity));
}


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: #2c2c2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #414141;
  border-radius: 20px;
  border: 3px solid #414141;
}

.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  text-align: center;
  margin: 30px;
  font-size: 2vw;
  color: #f1f1f1;
}

.interview{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6%;
}

.rectangle:hover{
  transform: scale(1.04);
  cursor: pointer;
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
  text-decoration: none;
  color: inherit;
}

.contact-item {
  height: 60px;
  width: 60px;
  margin: 2rem;
  padding: 1rem;
  background-color: #20232b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.contact-item img :hover{
  transform: scale(1.1);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contact-item img{
  width: 50px;
  height: 50px;
  color: #41A3FF;
}

.footer{
  margin-top: 2%;
}

.itv_body{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

.name_itv{
  font-size: 100%;
  color: #f1f1f1;
  font-weight: 100;
  text-align: center;
  margin-top: 5%;
}

#empty{
  position: relative;
  top: 92%;
}

#empty1{
  position: relative;
  top: 92%;
}

.temoignage{
  height: auto;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1%;
}

.temoignage img{
  display: flex;
  width: 50%;
  height: 70%;
  min-width: 200px;
  max-height: 210px;
  border-radius: 70%;
  margin: auto;
}
.temoignage_body p{
  font-size: 80%;
  letter-spacing: 0.05rem;
  word-wrap: break-word;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

.temoignage_body h3{
  margin-top: 3%;
  margin-bottom: 4%;
}

.temoignage1{
  text-align: center;
}

.temoignage2{
  text-align: center;
}

.temoignage3{
  text-align: center;
}


@media(orientation: landscape) {
  .title{
    text-align: center;
    margin: 50px;
    font-size: 2vw;
    color: #f1f1f1;
  }
  .home img {
    display: flex;
    width: 40%;
    height: 90%;
    min-width: 130px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 10%;
  }

  .presentation p{
    margin-top: 2%;
    font-size: 120%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    margin-right: 30%;
    margin-left: auto;
    font-weight: bold;
  }

  .presentation{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
  }

  .text_presentation{
    width: 60%;
  }

  .logo{
    width: 40%;
  }

  .itv_title{
    margin-right: 80%;
    margin-left: 5%;
    margin-top: 4%;
    height: 5%;
  }

  h2 {
    font-size: 2vw;
  }
  .rectangle{
    width:350px;
    height: 194.5px;
    background: #202733;
    margin-top: 5%;
    margin-right: 7%;
    top: 70%;
    border-radius: 5%;
  }

  .contact_title{
    text-align: center;
  }

  #footer_text{
    text-align: center;
    font-size: 1.5vw;
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .images{
    width: 350px;
    height: 194.5px;
    border-radius: 5%;
  }
  .contact_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-around;
    align-content: space-between;
  }
  .temoignage_title{
    font-size: 1vw;
    text-align: center;
    color: #f1f1f1;
    font-weight: 100;
    border-color: #3BE7FF;
  }
  .temoignage_body div{
    display: flex;
    flex-direction: column;
    width: 26.7%;
    min-width: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
  }
  .temoignage_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    justify-content: space-around;
    align-content: space-between;
  }

}

@media(orientation: portrait) {
  .title{
    text-align: center;
    margin: 20px;
    font-size: 4vw;
    color: #f1f1f1;
  }
  .home img {
    display: flex;
    width: 40%;
    min-width: 30px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .presentation p{
    margin-top: 2%;
    font-size: 100%;
    letter-spacing: 0.05rem;
    word-wrap: break-word;
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
  }

  .presentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
  }
  .itv_title{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    height: 5%;
  }
  .rectangle{
    width:262.5px;
    height: 145.875px;
    background: #202733;
    margin-top: 15%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 15%;
    top: 60%;
    border-radius: 5%;
    flex-direction: column;
  }
  .images{
    width:262.5px;
    height: 145.875px;
    border-radius: 5%;
  }

  .contact_title{
    margin-left: auto;
    margin-right: auto;
  }

  h2{
    text-align: center;
  }
  #footer_text{
    margin-bottom: 3%;
  }
  .contact_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: space-around;
    align-content: space-between;
  }
  .temoignage_body div{
    display: flex;
    flex-direction: column;
    width: 26.7%;
    min-width: 200px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 8%;
  }
  .temoignage_body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
    justify-content: space-around;
    align-content: space-between;
  }
}
